* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    display: grid;
    height : 100%;
    place-items: center;

}

.container {
    width: 350px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 10px;

}

.container .title {
    color: #fff;
    line-height: 65px ;
    background: #333;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
}

.container .box {
    padding: 20px 40px;
    background: #fff;
    border-radius: 10px;
}

.container .box label {
    display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgray;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
    border-radius: 40px;
    transition: all 0.3s ease;
    
}

.container .box label .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    
}

.box label .dot::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    transition: all 0.3s ease;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(2);
}

#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before,
#option-3:checked ~ .option-3 .dot::before,
#option-4:checked ~ .option-4 .dot::before {
    transform: translate(-50%, -50%) scale(1);
    background: #333;

}



.container .box label .text {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    transition: color 0.3s ease;
}

#option-1:checked ~ .option-1 ,
#option-2:checked ~ .option-2 ,
#option-3:checked ~ .option-3 ,
#option-4:checked ~ .option-4 {
    background: #333;
    border-color : #333;
}

#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text,
#option-3:checked ~ .option-3 .text,
#option-4:checked ~ .option-4 .text {
    color: #fff;
}

.container .box input[type="radio"]{
    display: none;
}

